
div.driver_detail {
  background-color: powderblue;
  
  width: 1250px;
  border: 15px solid #005f80;
  padding: 50px;
  margin-top: 100px;
  margin-right: 200px;
  margin-bottom: 200px;
  margin-left: 50px;

}
element.style {
  background-color: powderblue;
}
.ant-descriptions-title {

font-size: 24px;
}
.ant-descriptions-item-label{
  font-size: 18px;
}

.ant-descriptions-item-content {
  font-weight: bold;
  font-size: 18px;
}

 body {
    background-color: aliceblue;
   
  }
  
  h2{
    margin-left: 50px;
  }
  h4{
    margin-left: 50px;
  }

  .badge-primary {
    background-color: #07a4ffc4;

  }
  